<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>게시물 작성</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container" style="max-width: 1200px">
      <h1>게시글 작성</h1>
      <div class="posting form">
        <form class="posting" action="/postings/new" method="post">

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">제목</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="title" maxlength="45" minlength="1" placeholder="title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3" maxlength="195" minlength="1"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Code</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="code" rows="3" maxlength="245" minlength="1"></textarea>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">작성자 이름</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="writer" maxlength="17" minlength="2" placeholder="writer">
            <label for="exampleFormControlInput1" class="form-label">게시글 비밀번호</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name="deletePassword" maxlength="15" minlength="3" placeholder="password">
          </div>

          <input type="submit" class="btn btn-dark" value="Save">
        </form>
      </div>
    </div>
  </body>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</html>
