<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>질문 게시판</title>

    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">

  </head>

  <body>
    <div class="container" style="max-width: 1200px">
      <table class="table">
        <div class="py-5 text-center">
          <h1>질문 게시판</h1>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-secondary float-end" onclick="location.href='addPostingForm.html'" th:onclick="|location.href='@{/postings/new}'|" type="button">글쓰기</button>
            <button class="btn btn-outline-secondary float-left" style="margin-right: 10px;" onclick="location.href='https://github.com/xi-jjun/question-board/blob/master/README.md';" type="button">사용안내</button>
          </div>
        </div>

        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="posting : ${postings}">
            <td><a href="posting.html" th:href="@{/postings/{postingId}(postingId=${posting.id})}" th:text="${posting.id}">게시물Id</a></td>
            <td><a href="posting.html" th:href="@{|/postings/${posting.id}|}" th:text="${posting.title}">title</a></td>
            <td th:text="${posting.writer}">writer</td>
            <td th:text="${#temporals.format(posting.createDate, 'yyyy-MM-dd HH:mm')}">2022.01.02</td>
          </tr>
        </tbody>

      </table>
    </div>
  </body>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</html>
