<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>질문 종합 게시판</title>

    <meta charset="utf-8">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container" style="max-width: 800px">
      <table class="table">
        <div class="py-5 text-center">
          <h1>질문 종합 게시판</h1>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-secondary float-end" onclick="location.href='addPostingForm.html'" th:onclick="|location.href='@{/postings/new}'|" type="button">글쓰기</button>
          </div>
        </div>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="posting : ${postings}">
            <td><a href="posting.html" th:href="@{/postings/{postingId}(postingId=${posting.id})}" th:text="${posting.id}">게시물Id</a></td>
            <td><a href="posting.html" th:href="@{|/postings/${posting.id}|}" th:text="${posting.title}">title</a></td>
            <td th:text="${posting.writer}">writer</td>
            <td th:text="${#temporals.format(posting.createDate, 'yyyy-MM-dd HH:mm')}">2022.01.02</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- <div class="container" style="max-width: 600px">
      <div class="py-5 text-center">
        <h2>질문 종합 게시판</h2>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" onclick="location.href='addPostingForm.html'" th:onclick="|location.href='@{/postings/new}'|" type="button">글쓰기</button>
        </div>
      </div>
      <hr class="my-4">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>No.</th>
              <th>제목</th>
              <th>작성자</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="posting : ${postings}">
              <td><a href="posting.html" th:href="@{/postings/{postingId}(postingId=${posting.id})}" th:text="${posting.id}">게시물Id</a></td>
              <td><a href="posting.html" th:href="@{|/postings/${posting.id}|}" th:text="${posting.title}">title</a></td>
              <td th:text="${posting.writer}">writer</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </body>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</html>
